<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>TODO list</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="app.css"/>
  <script type="text/javascript" src="webjars/petite-vue/0.4.1/dist/petite-vue.umd.js"></script>
  <script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {

      const baseOptions = {
        method: "POST",
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        }
      };

      PetiteVue.createApp({
        todos: [[${todos}]],
        descricao: "",
        async newTodo() {
          await fetch("/save", {
            ...baseOptions,
            body: `descricao=${this.descricao}`,
          });
          this.descricao = "";
          await this.listTodos();
        },
        async removeTodo(id) {
          await fetch("/", {
            ...baseOptions,
            body: `id=${id}`
          })
          await this.listTodos();
        },
        async listTodos() {
          const result = await fetch("/list", {
            ...baseOptions, method: "GET"
          })
          this.todos = await result.json();
        }
      }).mount();
    });
  </script>
</head>
<body>
<main>
  <article>
    <h1>My todo list</h1>
    <table v-scope>
      <thead>
      <tr>
        <th>Description</th>
        <th></th>
      </tr>
      <tr>
        <th colspan="2">
          <input name="descricao" type="text" v-model="descricao"/>
          <button @click="newTodo()">new</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <!-- from server -->
      <tr v-if="!todos" th:each="t : ${todos}">
        <td th:text="${t.descricao}"></td>
        <td>
          <input type="hidden" name="id" th:value="${t.id}"/>
          <!--          <button th:@click="removeTodo(${t.id})">done</button>-->
        </td>
      </tr>
      <!-- from hydration -->
      <tr v-for="t in todos" :key="t.id">
        <td>{{t.descricao}}</td>
        <td>
          <button @click="removeTodo(t.id)">done</button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td v-if="!todos" colspan="2">There are <span th:text="${todos.size()}"></span> tasks</td>
        <td v-else colspan="2">There are {{todos.length}} tasks</td>
      </tr>
      </tfoot>
    </table>
  </article>
</main>
</body>
</html>