<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>TODO list</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="app.css"/>
</head>
<body>
<main>
  <article>
    <h1>My todo list</h1>
    <table>
      <thead>
      <tr>
        <th>Description</th>
        <th></th>
      </tr>
      <tr>
        <th colspan="2">
          <form th:action="@{/save}" method="post">
            <input name="descricao" type="text"/>
            <input type="submit" value="new"/>
          </form>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="t : ${todos}">
        <td th:text="${t.descricao}"></td>
        <td>
          <form th:action="@{/}" method="post">
            <input type="hidden" name="id" th:value="${t.id}"/>
            <input type="submit" value="done"/>
          </form>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2">There are <span th:text="${todos.size()}"></span> tasks</td>
      </tr>
      </tfoot>
    </table>
  </article>
</main>
</body>
</html>